.cal {
    width: 13.25vw;
    height: 13.25vw;
    float: left;
    font-size: 2.5vw;
    padding: 0.5vw;
}
.week {
    width: 13.25vw;
    height: 3.75vw;
    float: left;
    font-size: 2.25vw;
    border-bottom: 0.025px rgb(220, 220, 220) solid;
    padding: 0.5vw;
}
#container {
    height: 470px;
}
#date1 {
    width: 100px;
    height: 40px;
    font-size: 25px;
    background-color: transparent;
    border: 0;
    margin: auto;
    float: left;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
#date2 {
    width: 100px;
    height: 40px;
    font-size: 25px;
    background-color: transparent;
    border: 0;
    margin: auto;
    float: right;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
#body {
    margin: 0;
}
#dat {
    margin-bottom: 0px;
    border-bottom: 0;
}