.cal {
    width: 13.25vw;
    height: 130px;
    float: left;
    font-size: 8px;
    padding: 0.5vw;
    border-bottom: 0.025px rgb(220, 220, 220) solid;
}
#container {
    height: 370px;
}
#date1 {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    margin: auto;
    float: left;
    margin: 10px;
    margin-top: 0;
}
#date2 {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    margin: auto;
    float: right;
    margin: 10px;
    margin-top: 0;
}

#body {
    margin: 0;
}
#dat {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0.025px rgb(220, 220, 220) solid;
}